body {
    margin: 20px 40px;
  }
  
  p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 16px;
  }
  
  /*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
  
  .wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
  }
  
  /*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
  
  .redExample {
    flex: 1;
    background-color: red;
  }
  
  /*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
  
  .blueExample {
    flex: 1;
    background-color: blue;
  }
  
  /*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
  
  .emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
  }
  
  .blueExample2 {
    width: 80px;
    background-color: blue;
  }
  
  /* TODO: Add CSS for the rest of your solution below */

  .redExample2 {
    width: 80px;
    background-color: red;
  }

  .redSquare {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: red;
    margin: auto;
}

.blueExample3 {
    width: 80px;
    height: 60px;
    background-color: blue;
    margin: auto; 
  }

.topstrip {
    width: 100%;
    height: 20px; 
    background-color: blue;
}

.bottomstrip {
    height: 20px; 
    margin-top: 20px;
    width:100%;  
    background-color: blue;
}

.rightside {
    width: 100%;
}

.emptystrip{
    width: 100%;
    height: 20px;
    background-color: transparent;
    align-self: center;
}

.orangeblock{
    background-color: orange; 
    width: 80px;
}

.space8{
    display:flex;
    flex: 1;
    justify-content: space-between; 
}

.space9{
    display:flex;
    flex: 1;
    justify-content: space-evenly;  
}
.orangespace{
    flex:1; 
    background-color: orange;
}

.greenrect{
    background-color: transparent; 
    width: 20px;
}
 

