#header {
    color:rgb(255, 166, 0);
    text-align:center;
    background-color: rgb(156, 144, 228);
}
#navbar {
    background-color: rgb(163, 230, 157);
    color:royalblue;
    text-align:center;
}
#main {
    background-color: rgb(163, 230, 157);
    color:royalblue;
    text-align:center;
}
#footer {
    background-color:rgb(252, 215, 147); 
    color:rgb(140, 0, 255); 
    text-align:right;
}
